.search-bar{
    margin: 20px 0px 20px 20px;
    text-align: right;
}

.search-btn {
    height: 34px;
    width: 70%;
    float: left;
}

.video-img img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}